body {
    background-color: #fff;
    font-family: avenir next, avenir, 'Open Sans', sans-serif;
    width: 800px;
    font-size: 15px;
}
h1 {
    text-align: right;
    font-style: bold;
    font-size: 35px;
}
h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    font-style: bold;
    font-size: 25px;
}
h3 {
    font-size: 15px;
    color: #0d52bf;
}
.flex-container {
    display: flex;
    justify-content: flex-start;
  }
.flex-container > .section {
    width: 100%;
    margin: 20px;
  }
.subtitle {
    text-align: right;
    font-size: 15px;
    margin-top: -33px;
    color: #0d52bf;
}
#about {
    font-size: 15px;
    word-wrap: break-all;
    hyphens: auto;
    text-align: justify;
}
.attendeecontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icontext {
    font-size: 15px;
    width: 50%;
}
hr {
    display: block;
    border: 0px;
    height: 1px;
    background-color: transparent;
    border-top: solid 1px #ddd;
}
.educationtitle, .worktitle{
    font-size: 18px;
    display:block;
}
.educationplace, .workplace{
    font-size: 15px;
    color: #0d52bf;
    margin-bottom: 2px;
    display:block;
}
.educationdate, .workdate{
    display:block;
}
.fa-calendar-alt {
    color: #555;
}
.fas{
    color: #0d52bf;
}
.fa-star {
    color: #0d52bf;
    font-size: 14px;
    margin-right: 5px;
}
.technology {
    border: 1px solid #888888;
    color: #000;
    padding: 2px 7px 2px 7px;
    margin-right: 2px;
    line-height: 35px;
}
#contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 10px;
}
