@import "./variables";

header {
    margin: 0 auto;
    max-width: 550px;
    padding: 5rem 5px 1rem 5px;
    position: sticky;
    top: -4.5rem;
    z-index: 2;
    background-color: $primaryBackground;
    display: flex;
    justify-content: space-between;
    div:last-child {
      margin-left: auto;
    }
    a {
      color: $primaryTextColor;
      text-decoration: none;
      outline: none !important;
      padding: 2px;
      transition: all .25s ease-in-out;
      margin: 0px 10px 0px 0px;
      &:hover {
        background-color: $hoverBackground;
        color: $hoverTextColor;
      }
      &.active {
        color: $hoverTextColor;
        background-color: $activeBackground;
      }
    }
  }
  input[type=search] {
    -webkit-appearance: none;
    display:block;
    margin: 0 0 0 auto;
    color:$primaryTextColor;
    width: 20px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding-left: 20px;
    background-image: url("/images/search-icon.svg");
  }
  input[type=search]:focus {
    width: 150px;
    border-bottom: 1px solid $hoverBackground;
  }
  #searchBox{
    position: relative;
  }
  #search-label{
    position:absolute;
    font-weight:bold;
    color:$primaryTextColor;
    z-index: -2;
  }

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
