@import "./variables";

header {
    margin: 0 auto;
    max-width: 550px;
    padding: 5rem 0px 3rem 0px;
    a {
      color: $primaryTextColor;
      text-decoration: none;
      outline: none !important;
      padding: 2px;
      transition: all .25s ease-in-out;
      margin: 0px 10px 0px 0px;
      &:hover {
        background-color: $hoverBackground;
        color: $hoverTextColor;
      }
      &.active {
        color: $hoverTextColor;
        background-color: $activeBackground;
      }
    }
  }