@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import "./variables";
@import "./header";
@import "./container";

html {
  font-family: 'Nunito Sans';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}
body {
  margin: 0;
  background-color: $primaryBackground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primaryTextColor;
}
.goBackFromPost {
  text-align: center;
  padding-bottom: 5rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
code {
  display: block;
  white-space: pre-wrap;
  padding: 5px;
  border-radius: 4px;
  background-color: $secondaryBackground;
}
p code {
  display: inline;
  background-color: $secondaryBackground;
}
blockquote {
  border-left: 4px solid $activeBackground;
  padding-left: 5px;
}
ol {
  list-style-type: none;
  padding: 0;
}
hr {
  border: 0;
  height: 1px;
  background-color: $activeBackground;
}