body {
    background-color: #eeeeee;
    font-family: Ubuntu, Arial, sans-serif;
    color: #363545
}
.container {
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 5px;
    text-align: center;
}
.socialicons {
    height: 30px;
    width: 30px;
}